@model LMSModel

<h2><img class="lms-logo" src="~/images/Secondary gradient.png" alt="Upskilled LMS Logo">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>@ViewData["LMS_Cookies"]</p>
<div id="LMS" class="row">
	<div class="col-sm-12" style="word-wrap: break-word;">
		@{
			string cook = string.Format("{0}<br>", this.Context.Request.Cookies.Count);
			foreach (var i in this.Context.Request.Cookies.ToArray())
			{
				cook = cook + i.Key + ":" + i.Value + "<br>";
			}
			<p>Cookies: @Html.Raw(cook)</p>
			<p>From: @Html.Raw(ViewData["RedirectFrom"])</p>
			<hr />
			@Html.Raw(ViewData["Response"])
			@Html.DisplayText((string)ViewData["Response"])

			<hr />
			if (this.Context.Request.Cookies.ContainsKey("MoodleSession"))
			{
				<form asp-action="LMS_Reporting" asp-controller="LMS" method="get">
					<input name="report" type="text" value="1" hidden style="display: none;" />
					<button type="submit" value="Download Unmarked" class="btn btn-default">Download All Trainer Reports</button>
				</form>
			}
			else
			{
				<p>It seems you aren't logged in via LMS... Please go and login.</p>
				<a asp-controller="LMS" asp-action="Login" class="btn btn-default" role="button">Take me to login</a>
			}
		}
	</div>
</div>
<hr />
