@model PluralsightModel
@{
	ViewData["Title"] = "Pluralsight License Management";
}

<script>
	document.body.classList.add("pluralsight");
</script>

<h2><img class="ps-logo" src="https://s.pluralsight.com/logos/pluralsight/ps-logo-f-14-v1.png" alt="Pluralsight Logo">@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>
<hr />
@{
	List<PluralsightUser> users = ViewData["UserList"] as List<PluralsightUser>;
	DateTime lastUpdate = DateTime.Now;
	if( ViewData["Update"] != null)
	{
		lastUpdate = (DateTime)ViewData["Update"];
	}
}
<div class="row">
	<div class="col-sm-3">
		<div class="row">
			<div class="col-sm-12">
				@{
					if (users == null)
					{
						<form asp-action="Pluralsight" asp-controller="Pluralsight" method="post">
							<button id="getUsers" type="submit" class="btn btn-default">Download Pluralsight User List</button>
						</form>
					}
					else
					{
						<form asp-action="Pluralsight" asp-controller="Pluralsight" method="post">
							<button id="getUsers" type="submit" class="btn btn-default">Update User List</button>
						</form>
						<span>Total User Count: @users.Count (/1500)<br />Last update: @lastUpdate.ToString()</span>
					}
				}
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="row">
			<div class="col-sm-12">
				<div class="users-container">
					<table class="pluralsight-users">
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Email</th>
							<th>User ID</th>
							<th>Start Date</th>
							<th>Team ID</th>
							<th>Notes</th>
						</tr>
						@{
							if (users != null)
							{
								@foreach (PluralsightUser u in users)
								{
									<tr>
										<td>@u.firstName</td>
										<td>@u.lastName</td>
										<td>@u.email</td>
										<td>@u.id</td>
										<td>@u.startDate</td>
										<td>@u.teamId</td>
										<td>@u.note</td>
									</tr>
								}
							}
						}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
